{{mobiledoc-editor did-create-editor=(action 'didCreateEditor') placeholder="type here..."}}
<br>
<button {{action 'insertText'}}>Click to insert text at the cursor</button>
<button {{action 'insertTextAtEnd'}}>Click to insert text at the end</button>
