<h1>Bound (mutating) Mobiledoc Property</h1>
{{mobiledoc-editor mobiledoc=mobiledoc on-change=(action 'onChange') placeholder="type here..." autofocus=true}}
<hr>
Type above. 1 second after the change the mobiledoc will be set to a new object forcing the editor to re-render and place the cursor at the start.
