<h1>Unbound Mobiledoc Property</h1>
{{mobiledoc-editor mobiledoc=(unbound mobiledoc) on-change=(action 'onChange') placeholder="type here..." autofocus=true}}
<hr>
Typing above still "saves" the changed mobiledoc after every change, but the editor doesn't rerender.
